<!-- Componente generico para configuracion de cada despliegue de noticia -->
<ion-card color="dark">

  <ion-card-header>
    
    <ion-card-subtitle>
      <!-- Despliegue de nombre y numero de noticia -->
      <span class="text-primary"> {{ indice + 1 }}. </span>
      <span class="noticia-source-name">{{ noticia.source.name }}</span>

      <!-- Colocar el estilo noticia-more -->
      <div class="noticia-more">

        <!-- Boton para menu desplegado de mas opciones -->
        <ion-button fill="clear"
                    (click)="lanzarMenu()">
          <ion-icon slot="icon-only" 
                    name="more"></ion-icon>
        </ion-button>

      </div>

    </ion-card-subtitle>

    <!-- Desplegar titulo de la noticia y click para ir a la pagina -->
    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }} </ion-card-title>

  </ion-card-header>

  <!-- Mostrar la imagen con animaciones y click para ir a la pagina
        Con animacion conseguida de anime scss global -->
  <ion-img *ngIf="noticia.urlToImage"
            (click)="abrirNoticia()"
            class="animated fadeIn fast"
            [src]="noticia.urlToImage"></ion-img>

  <!-- Mostrar la descripcion de la noticia -->
  <ion-card-content>
    <p>
      {{ noticia.description }}
    </p>
  </ion-card-content>

</ion-card>